{% extends 'base.html' %}

{% block contant %} 

<h1>Welcome, {{ current_user.username }}!</h1>

    <ul>
        <li class="form-control d-none">User ID: {{ current_user.id }}</li>
        <li class="form-control d-none">Username: {{ current_user.username }}</li>
        <li class="form-control d-none">RCNo: {{ current_user.rcno }}</li>
        <li class="form-control d-none">Email: {{ current_user.email }}</li>
    </ul>

    
    {% if data %}
    {% for shift_name in open_shift_names %}
    <li>{{ shift_name[0]  }}</li>
        
    {% endfor %}


    <P>Duty Change requests</p>
    <ul>
        {% for item in data %}
            <li>   {{ item.Username_From }} - {{ item.RCNo_From }} 
            <a href="{{ url_for('edit_data', item_id=item.id) }}" button class="btn btn-outline-danger button-spacing" type="submit" >Accept</a></li>
        {% endfor %}
    </ul>
    
    {% endif %}
    
{% endblock %}