
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('dashboard')}}">Leeli Lounge</a>
      
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          

         
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
          </li>
                            
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('DutyChange')}}">DutyChange</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup')}}">signup</a>
          </li> 

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('shift')}}">Shift Management</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('entry')}}">Daily entry</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('shift')}}">Shift</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('payment')}}">Payment</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('changeduty')}}">changeduty</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('draw')}}">Draw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('slide')}}">Slide</a>
          </li>
          
          
          
          
        </ul>

        {% for shift_name in open_shift_names %}
                <label class="text-white" style="margin-right: 100px;">{{ shift_name[0]  }}</label>
            {% endfor %}

        <label class="text-success" style="margin-right: 10px;"> Welcome {{ current_user.rcno }} </label>
        
        <form class="d-flex" role="search">
          
          <a href="{{ url_for('logout') }}" button class="btn btn-outline-danger" type="submit">Logout</a>
          
        </form>
        
      </div>
    </div>
  </nav>
  